<!DOCTYPE html>
<html>
  <head>
    <title>MyPin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" id="favicon" type="img/ico" href="favicon.ico">
  </head>

  <body>
    <%= yield %>
  </body>
</html>